// Margin bottom
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}

// Margin vertical
.my-10 {
  margin: 10px 0;
}
.my-15 {
  margin: 15px 0;
}
.my-20 {
  margin: 20px 0;
}

// Margin right
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
