:root {
  --font-familly: "Roboto", sans-serif;
  --text: #272424;

  --primary: #0878a4;
  --peps: #edd170;
  --light-grey: #f1f3f2;
  --dark-grey: #3a4856;
  --warning: #c05640;
  --border-radius: 4px;
}
